* {
  margin: 0;
  padding: 0;
}
body {
  font-family: system-ui;
  background: black;
  opacity: 0;
  transition: all 1.3s;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body.loaded {
  opacity: 1;
}
body::-webkit-scrollbar {
  display: none;
}
#myVideo {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
header {
  height: 100px;
}
.logo {
  padding: 30px;
}
nav {
  width: 1233px;
  margin-left: 99px;
  margin-top: -70px;
  margin-right: 2px;
  padding-top: 10px;
}
.sidepanel a {
  list-style-type: none;
  padding: 15px 16px;
  font-size: 20px;
  color: #f5c701;
  float: right;
  border-radius: 10px;
}
.sidepanel a {
  text-decoration: none;
}
.sidepanel:hover {
  background-color: #b7ad80b8;
}
.sidepanel a:hover {
  opacity: 0.7;
}
.active {
  background-color: #7c744db8;
}
.sec1 {
  height: 550px;
}
.mainh {
  text-align: center;
  color: #f5c701;
  padding-top: 50px;
  padding-bottom: 60px;
  font-size: 28px;
}
form {
  color: #f5c701;
}
input {
  padding: 1%;
  width: 40%;
  border-radius: 1em;
  border: none;
}
label {
  font-size: 20px;
}
textarea {
  width: 42%;
  border-radius: 5px;
  border: none;
  padding: 1%;
}
.submit {
  font-size: 17px;
  color: black;
  background-color: #f5c701;
  width: 150px;
  border: 0;
  font-weight: 600;
  cursor: pointer;
  transform: scale(1);
  transition: 300ms;
}
.submit:disabled {
  pointer-events: none;
}
.submit:hover {
  box-shadow: #f5c701 0 1px 13px;
  transition: 260ms;
  transform: translateY(-2px);
}
.submit:active {
  box-shadow: none;
  transform: translateY(0);
}
footer {
  height: 200px;
  padding-top: 5%;
  text-align: center;
  background: #f5c701;
  border-radius: 20px 20px 0 0;
}
.icons {
  padding-top: 4%;
}
.icons a {
  padding: 3%;
  color: black;
  font-size: 1.1em;
  text-shadow: #a38400 -2px 4px 5px;
}
.icons a:hover {
  opacity: 0.9;
}
a:hover .fa{
  transition: 500ms;
  transform: scale(1.2);
}
a .fa{
  transition: 600ms;
  transform: scale(1);
}
.openbtn,
.closebtn {
  display: none;
}

/* Responsive Line */

@media only screen and (max-device-width: 1024px) {
  .logo {
    float: left;
  }
  nav {
    width: 65%;
    margin: 0;
    padding: 0;
  }
  .sidepanel {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 250px;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidepanel:hover {
    background-color: #000000;
  }
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #bfbfbf;
    display: block;
    transition: 0.3s;
    float: none;
  }

  .sidepanel a:hover {
    color: #f1f1f1;
  }

  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 27px;
  }

  .openbtn {
    font-size: 30px;
    cursor: pointer;
    background-color: #1111;
    color: white;
    padding: 0;
    float: right;
    margin: 16.5% -30% 0 0;
    border: none;
    display: block;
  }
  .openbtn:hover {
    transform: rotate(90deg);
    transition: transform 0.4s;
  }
  .closebtn:hover {
    transform: rotate(90deg);
    transition: transform 1s;
  }
  .closebtn {
    margin-top: 15px;
  }

  .openbtn:hover {
    background-color: #444;
  }
  .active {
    background-color: #998317cf;
  }
  .icons a {
    padding: 1.5%;
    display: grid;
    text-decoration: none;
  }
  footer {
    height: 260px;
  }
  input {
    width: 87%;
  }
  .submit {
    width: 90%;
  }
  textarea {
    width: 88%;
  }
  .labelfl {
    padding: 0;
  }
  .labelem {
    padding: 0;
  }
  .labelms {
    padding: 0;
  }
}

@media (min-device-width: 1025px) {
  nav {
    width: 90%;
    margin-left: 0;
    padding-left: 10%;
  }
  .icons {
    margin: 0;
  }
}
